after_script:
  - curl -X POST -F token=${ADDITIONSTOKEN} -F ref=master https://gitlab.cern.ch/api/v3/projects/16989/trigger/builds

build:
  stage: build
  tags:
    - docker-image-build
  script: "echo 'building image'" # unused but this line is required by GitLab CI
